<div id="pins" class="transitions-enabled wrapper2 wrapper_padding index">
        <% @pins.each do |pin| %>
        <div class="box col3">
          <div class="thumbnail">
               <%= link_to image_tag(pin.image.url(:medium)), pin %>
               <div class="caption">
                    <div class="pin_title">
                        <h4><%= pin.title %></h4>
                        <div class="likes">
                            <i class="fa fa-heart"></i> <%= pin.get_likes.size %>
                        </div>
                    </div>
                    <% if pin.description? %>
                        <div class="pin_desc">
                            <p><%= pin.description %></p>
                        </div>
                    <% end %>
                    <div class="pin_user">
                        <%= link_to image_tag(pin.user.avatar.url(:mini), :class => "img-rounded") + " #{pin.user.name}", pin.user %>
                    </div>
                    <div class="pin_hover">
                        <% if !(current_user.liked? pin) %>
                            <div class="like">
                                <%= link_to like_pin_path(pin), method: :put, class: "btn btn-default" do %>
                                    <span class="change-icon">
                                    <i class="fa fa-heart-o"></i>
                                    <i class="fa fa-heart"></i>
                                    </span>
                                <% end %>
                            </div>
                        <% else %>
                            <div class="like">
                                <%= link_to dislike_pin_path(pin), method: :put, class: "btn btn-default" do%>
                                    <span class="change-icon">
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart-o"></i>
                                    </span>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <div class="pin_hover_left">
                        <a class="btn btn-default" href="#">Pin It</a>
                    </div>
               </div>
            </div>
        </div>
        <% end %>
</div>
