<div class="super_skinny_wrapper show">
    <div class="panel panel-default">
        <div class="panel-heading center">
            <div class="user_options clearfix">
                <div class="pin_it">
                    <a class="btn btn-default" href="#">Pin It</a>
                </div>
                <div class="pin_like">
                    <% if !(current_user.liked? @pin) %>
                        <div class="like">
                            <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
                                <span class="change-icon">
                                <i class="fa fa-heart-o"></i>
                                <i class="fa fa-heart"></i>
                                </span>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="like">
                            <%= link_to dislike_pin_path(@pin), method: :put, class: "btn btn-default" do%>
                                <span class="change-icon">
                                <i class="fa fa-heart"></i>
                                <i class="fa fa-heart-o"></i>
                                </span>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>

            <h3 class="panel-title"><%= @pin.title %></h3>

            <% if @pin.user == current_user %>
                <div class="center admin_options">
                    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_pin_path(@pin) %>
                    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, pin_path(@pin), method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
            <% end %>
         </div>
          <div class="panel-body center">
            <%= image_tag @pin.image.url, :class => "image_panel" %>
          </div>
          <div class="pin_display">
              <div class="description col-md-8">
                  <%= @pin.description %>
              </div>
              <div class="time col-md-4">
                  <%= time_ago_in_words(@pin.created_at)%> ago
              </div>
          </div>
          <% if @pin.user != current_user %>
          <div class="pin_user">
              <%= link_to image_tag(@pin.user.avatar.url(:mini), :class => "img-circle") + " #{@pin.user.name}", @pin.user %>
          </div>
          <% end %>
    </div>
</div>
