<div class="user_show">
    <div class="header">
        <% if @user == current_user %>
            <%= link_to "Edit Profile", edit_user_registration_path, :class => "btn btn-primary edit" %> <br> <br>
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger sign_out" %>
        <% else %>
            <% if !(current_user.following? @user) %>
                <%= link_to "Follow", follow_user_path(@user), method: :get, class: "btn btn-primary edit" %>
                <br>
            <% else %>
                <%= link_to "Unfollow", unfollow_user_path(@user), method: :get, class: "btn btn-danger edit" %>
                <br>
            <% end %>
        <% end %>
        <%= image_tag @user.avatar.url(:thumb), :class => "img-circle" %>
        <h1><%= @user.name %></h1>
        <div class="category">
            <ul id="categories">
                <li>
                    <%= link_to user_boards_path(@user) do%>
                        <span class="number">
                            <%= @user.boards.count %>
                        </span>
                        <span class="type">
                            Boards
                        </span>
                    <% end %>
                </li>
                <li>
                    <%= link_to user_path(@user) do%>
                        <span class="number">
                            <%= @user.pins.count %>
                        </span>
                        <span class="type">
                            Pins
                        </span>
                    <% end %>
                </li>
                <li id="active">
                    <%= link_to user_likes_path(@user) do%>
                        <span class="number">
                            <%= @user.find_liked_items.count %>
                        </span>
                        <span class="type">
                            Likes
                        </span>
                    <% end %>
                </li>
                <li>
                    <%= link_to user_followers_path(@user) do %>
                        <span class="number">
                            <%= @user.followers_count %>
                        </span>
                        <span class="type">
                            Followers
                        </span>
                    <% end %>
                </li>
                <li>
                    <%= link_to user_following_index_path(@user) do %>
                        <span class="number">
                            <%= @user.following_users_count %>
                        </span>
                        <span class="type">
                            Following
                        </span>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <% if @user.find_liked_items.count > 0 %>
    <div id="pins" class="transitions-enabled wrapper2 wrapper_padding index">
            <% @pins.each do |pin| %>
            <div class="box col3">
              <div class="thumbnail">
                   <%= link_to image_tag(pin.image.url(:medium)), pin %>
                   <div class="caption">
                        <div class="pin_title">
                            <h4><%= pin.title %></h4>
                        </div>
                        <% if pin.description? %>
                            <div class="pin_desc">
                                <p><%= pin.description %></p>
                            </div>
                        <% end %>
                        <div class="pin_user">
                            <%= link_to image_tag(pin.user.avatar.url(:mini), :class => "img-rounded") + " #{pin.user.name}", pin.user %>
                        </div>
                        <div class="pin_hover">
                            <% if !(current_user.liked? pin) %>
                                <div class="like">
                                    <%= link_to like_pin_path(pin), method: :put, class: "btn btn-default" do %>
                                        <span class="change-icon">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="fa fa-heart"></i>
                                        </span>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="like">
                                    <%= link_to dislike_pin_path(pin), method: :put, class: "btn btn-default" do%>
                                        <span class="change-icon">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart-o"></i>
                                        </span>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                        <div class="pin_hover_left">
                            <%= link_to "Pin It", new_pin_it_path(pin), :class => "btn btn-default" %>
                        </div>
                   </div>
                </div>
            </div>
            <% end %>
    </div>

    <div class="finish clearfix">
        <div class="center">
            <i class="fa fa-pinterest"></i>
        </div>
    </div>
    <% elsif @user == current_user %>
        <div class="havent-liked">
            <i class="fa fa-heart-o"></i>
        </div>
        <div class="finish-wo clearfix">
            <div class="center">
                <i class="fa fa-pinterest"></i>
            </div>
        </div>
    <% else %>
        <div class="finish-wo clearfix">
            <div class="center">
                <i class="fa fa-pinterest"></i>
            </div>
        </div>
    <% end %>
</div>
