<!DOCTYPE html>
<html>
<head>
  <title>PinBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
</head>
<body>

    <header id="main-navigation" class="clearfix">
        <% if user_signed_in? %>
            <%= link_to  '<i class="fa fa-pinterest"></i>'.html_safe, authenticated_root_path, class:"brand" %>
        <% else %>
            <%= link_to  '<i class="fa fa-pinterest"></i>'.html_safe, unauthenticated_root_path, class:"brand" %>
        <% end %>
        <nav>
            <% if user_signed_in? %>
                <%= link_to image_tag(current_user.avatar.url(:mini)) + " #{current_user.name}", current_user %>
                <%= link_to "Edit Profile", edit_user_registration_path %>
                <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to "About", pages_about_path %>
                <%= link_to "Contact", pages_contact_path %>
            <% end %>
        </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

</body>
</html>
